<div class="row">
<div class="col-sm-8 col-sm-offset-2">

  <div id="form-container">
  
      <div class="jumbotron text-center">
          <h2>Add Employee</h2>
          
          <!-- the links to our nested states using relative paths -->
          <!-- add the active class if the state matches our ui-sref -->
          <div id="status-buttons" class="text-center">
              <a ui-sref-active="active" ui-sref=".step({step:1})"><span>1</span> Personal</a>
              <a ui-sref-active="active" ui-sref=".step({step:2})"><span>2</span> Financial</a>
              <a ui-sref-active="active" ui-sref=".step({step:3})"><span>3</span> Save</a>
          </div>
      </div>
      
      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form id="add-form" ng-submit="processForm()">
          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view></div>
      </form>
  
  </div>
  
  <!-- show our formData as it is being typed -->
  <pre>
    {{ formData }}
  </pre>

</div>
</div>

