/* BASIC STYLINGS
============================================================================= */
body 							{ padding-top: 100px; }
pre                             { margin-bottom:20px; }

/* form styling */
#form-container                { margin-bottom:20px;
    border-radius:5px; }
#form-container .page-header   { margin:0; padding:30px; 
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 { 
	display: table;
    width: 100%;
    table-layout: fixed;
 }
#status-buttons a               { display:table-cell; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }
#status-buttons span            { background:#CDCCCC; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

/* active buttons */
#status-buttons a.active span   { background:#009ABC; color:#FFF;}

/* ANIMATION STYLINGS
============================================================================= */
#add-form           { position:relative; min-height:300px; overflow:hidden; padding:30px; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      {
	position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}
    
/* enter animation */
#form-views.ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
	-moz-animation:slideInRight 0.5s both ease;
	animation:slideInRight 0.5s both ease; 
}

/* leave animation */
#form-views.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
	-moz-animation:slideOutLeft 0.5s both ease;
	animation:slideOutLeft 0.5s both ease;   
}

.ng-leave            { 
    -webkit-animation: moveToBottom .7s ease-in-out both;
    -moz-animation: moveToBottom .7s ease-in-out both;
	animation: moveToBottom .7s ease-in-out both;
}

.ng-enter            {  
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-animation: rotateUnfoldTop .7s both ease;
	-moz-animation: rotateUnfoldTop .7s both ease;
	animation: rotateUnfoldTop .7s both ease; 
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
	to 		{ opacity: 0.1; transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ opacity: 0.1; -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ opacity: 0.1; -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{  opacity: 0.1; transform:translateX(200%); }
	to 		{ opacity: 1;  transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{  opacity: 0.1; -moz-transform:translateX(200%); }
	to 		{  opacity: 1;  -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{  opacity: 0.1; -webkit-transform:translateX(200%); }
	to 		{  opacity: 1;  -webkit-transform: translateX(0); }
}

/* move to bottom */
@-webkit-keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%) scale(0); }
}

@-moz-keyframes moveToBottom {
	from { }
	to { -moz-transform: translateY(100%) scale(0); }
}

@keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%) scale(0); transform: translateY(100%) scale(0); }
}

/* rotate unfold from top */
@-webkit-keyframes rotateUnfoldTop {
	from { opacity: 0; -webkit-transform: translateY(-100%) rotateX(90deg); }
}
@-moz-keyframes rotateUnfoldTop {
	from { opacity: 0; -moz-transform: translateY(-100%) rotateX(90deg); }
}
@keyframes rotateUnfoldTop {
	from { opacity: 0; -webkit-transform: translateY(-100%) rotateX(90deg); transform: translateY(-100%) rotateX(90deg); }
}
